.banner{
}
.banner img{
    max-width: 100%;
}





  @media (max-width: 600px) {
    .parallax {
        background-image: url("../assets/img/1295442.jpg");
    }
    .banner img{
      max-width: none;
      height: 70px;
  }
  }